*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* background-color: aqua; */
}

html{
  font-size: 100%;
}
/* li #NavLink{
  text-decoration: none;

} */
li{
  list-style: none;
  
}

.main-nav{
  background-color: #e6f5eb;
  line-height: 5px;
  width: 100%;
  padding: 12px;
  box-shadow: rgba(50, 50, 93,0.25) 0px 50px 100px -20px, rgba(0, 0, 0,0.25) 0px30px 60px -30px,;
  height: 3rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 2fr 10rem;
}

.logo{
  display: grid;
/* background-color: chartreuse; */
grid-column: 2/3;
justify-content: start;
align-items: center;
}
.menu-link{
  margin-top: 10px;
  line-height: 2px;
/* grid-column: 3/4; */
/* background-color: chartreuse; */
}
.menu-link ul{
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
/* background-color: chartreuse; */
font-size: larger;
/* justify-content: space-around; */
/* align-items: center; */

}

.social-media{
  grid-column: 4/5;
  font-weight: 500;
  display: grid;
/* background-color: chartreuse; */

justify-content: end;
align-items: center;
}


.cart-total--item{
width: 2.4rem;
height: 2.4rem;
position: absolute;
color: rgb(99, 69, 235);
border-radius: 50%;
display: grid;
place-items: center;
top: 0.01%;
left: 88%;
}


.social-media .hamburger-menu{
  display: none;
}





@media (max-width:1050px) {
  .main-nav{
    height: 6rem;
    grid-template-columns: 2rem 2fr 3fr 1fr 2rem;

  }
  .menu-link{
    display: none;
  }
  .logo, .social-media ul{
    height: 4rem;
  }

  .mobile-menu-link{
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .Mobile-menu-link{
    background-color: aqua;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93,0.25) 0px 50px 100px -20px, rgba(0, 0, 0,0.3) 0px 30px 60px -30px,;
  }

  .Mobile-menu-link ul{
    height: 20rem;
    display: flex;
  justify-content: space-around;
 flex-direction: column;
 align-items: start;
  }




  

  .Mobile-menu-link ul li:first-child{
    transition-delay: 0.2s;
  }
  .social-media{
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }
  .social-media .social-media-desktop{
height: 0;
display: none;
  }
  .social-media{
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }
  .social-media .hamburger-menu{
    display: block;

    font-size: 2rem;
  }






  .Mobile-menu-link{
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }


}

h2{
  text-align: center;

}

















/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(217, 214, 214);
    position: sticky;
    top: 0;
  }
  li {
    float: left;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  li a:hover:not(.active) {
    background-color: #111;
  }
  .active {
    background-color: #04AA6D;
  } */